In [1]:
# Importing the Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime

In [3]:
df = pd.read_excel('dataset.xlsx', index_col='BusinessDate', parse_dates=True)
df.head(20)

                SEDOL Counterparty_Account_ID  Position_Quantity_SD
BusinessDate
2019-05-02    5BDN21B                   11009              121000.0
2019-05-02    5BDN21B                   14120              928200.0
2019-05-02    5BDN21B                   16109             1452000.0
2019-05-02    5BDN21B                   16140              -40600.0
2019-05-02    5BDN21B                   62004               10000.0
2019-05-02    5BDN21B                    OLAP             -216500.0
2019-05-02    5BDN21B                   SCBCO                -100.0
2019-05-02    5BDN21B                   TKOOB                 208.0
2019-05-02    5MJ2C1B                   0010V                 200.0
2019-05-02    5MJ2C1B                   1003V                 100.0
2019-05-02    5MJ2C1B                   12280               10000.0
2019-05-02    5MJ2C1B                   25SJP                -200.0
2019-05-02    5MJ2C1B                   3210P             -151400.0
2019-05-02    5MJ2C1B                   4303P               -2200.0
2019-05-02    5MJ2C1B                   4303V               10800.0
2019-05-02    5MJ2C1B                   5003P                -116.0
2019-05-02    5MJ2C1B                   6108P              -51800.0
2019-05-02    5MJ2C1B                   62004               10000.0
2019-05-02    5MJ2C1B                   94SJP               -5066.0
2019-05-02    5MJ2C1B                   AMFDE              144900.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9926 entries, 2019-05-02 to 2019-09-10
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   SEDOL                    9926 non-null   object
 1   Counterparty_Account_ID  9926 non-null   object
 2   Position_Quantity_SD     9926 non-null   float64
dtypes: float64(1), object(2)
memory usage: 310.2+ KB

In [15]:
df.describe()

       Position_Quantity_SD
count          9.926000e+03
mean          -4.380698e+05
std            3.092244e+06
min           -2.789100e+07
25%           -6.700900e+04
50%            2.010000e+02
75%            4.000000e+04
max            1.019140e+07

In [21]:
df.SEDOL.unique()

array(['5BDN21B', '5MJ2C1B', '6NY9V1B', '6Y3RH2B', '74ZI41B'],
      dtype=object)

In [16]:
temp0 = df.groupby(['SEDOL', 'BusinessDate']).agg('mean')

In [17]:
temp0

                      Position_Quantity_SD
SEDOL   BusinessDate
5BDN21B 2019-05-02           281776.000000
        2019-05-03           281188.500000
        2019-05-06           287888.500000
        2019-05-07           275838.500000
        2019-05-08           273588.500000
...                                    ...
74ZI41B 2019-09-04           217439.277778
        2019-09-05           204328.166667
        2019-09-06           218465.117647
        2019-09-09           104161.500000
        2019-09-10           121994.833333

[470 rows x 1 columns]

In [22]:
sedol1 = temp0.loc['5BDN21B'].describe()
sedol2 = temp0.loc['5MJ2C1B'].describe()
sedol3 = temp0.loc['6NY9V1B'].describe()
sedol4 = temp0.loc['6Y3RH2B'].describe()
sedol5 = temp0.loc['74ZI41B'].describe()